@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
.capitalized-text {
  text-transform: capitalize;
}

.no-text-decoration {
  text-decoration: none;
}

.left-chevron, .right-chevron {
  color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0 1em 0;
  width: 20vw;
  font-size: 2rem;
}

.left-chevron {
  margin-left: 20px;
}

.right-chevron {
  margin-right: 20px;
}

.black-background-gradient {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nav-bar {
  width: 100%;
  background: #262926;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

.nav-bar h1 {
  padding-left: 1em;
  color: white;
  cursor: pointer;
}

.nav-bar .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.nav-bar .form-container .nav-bar-search-form {
  height: 7vh;
  background-color: white;
  border-radius: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar .form-container .nav-bar-search-form-input {
  width: 80%;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border: none;
  padding: 1em;
}

.nav-bar .form-container .nav-bar-search-form-submit {
  width: 20%;
  font-size: 1.5rem;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 2rem;
  margin-left: -20px;
  border: none;
  color: white;
  background: #EB4E7A;
  cursor: pointer;
}

.nav-bar .nav-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5em;
}

.nav-bar .nav-bar-list-item {
  padding: 0.5em;
  margin-right: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: white;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 1.5rem;
}

.nav-bar .nav-bar-list-item:hover {
  background: #191A19;
}

.latest-slider-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.latest-slider-container .latest-container {
  text-decoration: none;
  cursor: pointer;
  height: 100vh;
}

.latest-slider-container .latest-container .latest-image {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
}

.latest-slider-container .latest-text-container {
  text-align: left;
  padding-left: 6em;
  color: white;
  margin-top: -200px;
}

.latest-slider-container .latest-text-container h2 {
  font-size: 1.3rem;
}

.latest-slider-container .latest-text-container .latest-text-genres-rating {
  display: inline;
}

.movies-series-buttons-container {
  margin: 0 auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5em 0 5em 0;
}

.movies-series-buttons-container .movies-series-btn {
  padding: 0.7em 12em 0.7em 12em;
  text-transform: uppercase;
  background: transparent;
  color: white;
  position: relative;
  letter-spacing: 1px;
}

.movies-series-buttons-container .movies-series-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  /*1*/
  border: 2px solid transparent;
  /*2*/
  background: -webkit-gradient(linear, left top, right top, from(#E48207), to(#6705B8)) border-box;
  background: linear-gradient(to right, #E48207, #6705B8) border-box;
  /*3*/
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  /*5'*/
  mask-composite: exclude;
  /*5*/
}

.slider-container {
  margin: 0 auto;
  width: 80%;
  padding: 3em 0 3em 0;
}

.slider-container::after {
  content: "";
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, #939393), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #939393 50%, rgba(0, 0, 0, 0) 100%);
  display: block;
  margin-top: 30px;
}

.slider-container-title {
  text-align: start;
  padding: 0em 40px 2em 40px;
}

.slider-container-title h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.slider-container .home-slider-card {
  text-decoration: none;
  color: white;
  position: relative;
  border-radius: 10rem;
  cursor: pointer;
}

.slider-container .home-slider-card:focus, .slider-container .home-slider-card:hover, .slider-container .home-slider-card:visited, .slider-container .home-slider-card:link, .slider-container .home-slider-card:active {
  text-decoration: none;
}

.slider-container .home-slider-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slider-container .home-slider-card:hover {
  z-index: 999;
}

.slider-container .home-slider-card:hover::after {
  background: transparent;
}

.slider-container .home-slider-card-image {
  position: relative;
}

.slider-container .home-slider-card-image img {
  width: 100%;
}

.slider-container .home-slider-card-image-rate {
  width: 35%;
  position: absolute;
  font-size: 0.8rem;
  left: 0;
  top: 10px;
}

.slider-container .home-slider-card-image-rate p {
  padding: 0 0 0 0.3em;
  background: green;
}

.slider-container .home-slider-card-text {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 10px;
}

.slider-container .home-slider-card-text-title {
  margin-top: -5px;
  padding: 1em 0 0 0.3em;
  height: 10vh;
  font-size: 0.85rem;
  overflow: hidden;
}

.slider-container .home-slider-card-text-genres {
  margin-top: -10px;
  padding: 0 0 0 0.4em;
  color: grey;
  font-size: 0.7rem;
}

.main-container {
  background: #301739;
  font-family: 'Kiwi Maru', serif;
  color: white;
}

.footer {
  padding: 90px;
  background: #191A19;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left-container {
  width: 45%;
}

.footer-left-container .footer-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0 3em 0;
}

.footer-left-container .footer-nav-container h1 {
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 600;
}

.footer-left-container .footer-nav-container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.footer-left-container .footer-nav-container-list-item {
  padding: 0 1em;
  cursor: pointer;
}

.footer-left-container-phone-number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
  color: grey;
}

.footer-left-container-copyright-container {
  font-size: 0.9rem;
  color: grey;
}

.footer-left-container-copyright-container p {
  padding: 0.4em 0;
}

.footer-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-right-container img {
  margin-bottom: 30px;
}

.footer-right-container-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-right-container-list-item {
  padding: 1em;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer-right-container-list-item:hover {
  background: #262926;
}

.details-container {
  background: #301739;
}

.details-container .back-arrow-container, .details-container .share-icon-container {
  position: absolute;
  padding: 0.8em;
  cursor: pointer;
  border-radius: 1.5rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  top: 25vh;
}

.details-container .back-arrow-container:hover, .details-container .share-icon-container:hover {
  background: #191A19;
}

.details-container .back-arrow-container .back-arrow-icon, .details-container .back-arrow-container .share-icon, .details-container .share-icon-container .back-arrow-icon, .details-container .share-icon-container .share-icon {
  color: white;
  font-size: 2rem;
}

.details-container .back-arrow-container {
  left: 5vw;
}

.details-container .share-icon-container {
  right: 5vw;
}

.details-container-poster-container {
  height: 90vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.details-container-main {
  width: 75%;
  margin: 0 auto;
  background-color: #301739;
}

.details-container-main-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details-container-main-intro-poster {
  padding: 1em;
  height: 100%;
}

.details-container-main-intro-poster img {
  height: 100%;
}

.details-container-main-intro-text {
  padding: 0.5em;
  color: white;
}

.details-container-main-intro-text-status-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
}

.details-container-main-intro-text-status-language p {
  padding: 0 0.2em 0 0.2em;
}

.details-container-main-intro-text-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.details-container-main-intro-text-genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
}

.details-container-main-intro-like-container {
  padding-left: 17em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details-container-main-intro-like-container .heart-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.details-container-main-intro-like-container .heart-icon:hover {
  color: red;
}

.details-container-main-summary {
  color: grey;
  padding: 0.7em;
  font-size: 1rem;
}

.details-container-main-summary span {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.details-container-main .details-slider-container {
  padding: 1em;
}

.details-container-main .details-slider-container::after {
  content: "";
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, #939393), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #939393 50%, rgba(0, 0, 0, 0) 100%);
  display: block;
  margin-top: 30px;
}

.details-container-main .details-slider-container .cast-slider-card {
  overflow: hidden;
  width: 10vw;
  color: white;
  cursor: pointer;
  height: 100%;
  position: relative;
  border-radius: 2rem;
}

.details-container-main .details-slider-container .cast-slider-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.details-container-main .details-slider-container .cast-slider-card:hover {
  z-index: 999;
}

.details-container-main .details-slider-container .cast-slider-card:hover::after {
  background: transparent;
}

.details-container-main .details-slider-container .cast-slider-card-content {
  text-align: center;
}

.details-container-main .details-slider-container .cast-slider-card-content img {
  width: 100%;
}

.details-container-main .details-slider-container .cast-slider-card-content p {
  padding-top: 0.4em;
}

.details-container-main .details-slider-container .trailer-slider-card {
  max-height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.details-container-main .details-reviews-container {
  padding: 2em;
  color: white;
}

.details-container-main .details-reviews-container .review-container {
  background: #1D2E25;
  border-radius: 1rem;
  margin-top: 2em;
  padding: 1em;
}

.details-container-main .details-reviews-container .review-container h4 {
  padding-top: 0.5em;
  font-size: 1.2rem;
}

.details-container-main .details-reviews-container .review-container .review-content-container {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: #C3C3C3;
  height: 20vh;
  overflow: hidden;
}

.details-container-main .details-reviews-container .review-container a {
  color: gray;
  text-decoration: none;
}

.log-in-container {
  font-family: 'Kiwi Maru', serif;
  color: white;
}

.log-in-container-text {
  padding: 3rem;
  background-color: #301739;
  text-align: center;
}

.log-in-container-text h1 {
  padding: 0.5em;
}

.log-in-container-buttons {
  height: 50vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.log-in-container-buttons-btn {
  width: 20%;
  margin-top: 1em;
  padding: 1em;
  background: #EB4E7A;
  color: white;
  border-radius: 2rem;
  border: 2px solid #EB4E7A;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.log-in-container-buttons-btn:hover {
  background: white;
  color: #EB4E7A;
}

.log-in-container-buttons p {
  color: grey;
  margin-top: 1em;
}

.guest-profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150vh;
  font-family: 'Kiwi Maru', serif;
}

.guest-profile-container .guest-profile-side-bar {
  width: 20vw;
  background: #301739;
  color: white;
  text-align: center;
}

.guest-profile-container .guest-profile-side-bar-image {
  margin: 0 auto;
  margin-top: 8em;
  height: 15%;
  width: 50%;
  border-radius: 5rem;
  background-image: url(https://cdn.pixabay.com/photo/2017/11/08/22/28/camera-2931883_1280.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.guest-profile-container .guest-profile-side-bar h3 {
  margin-top: 1em;
  font-size: 1.2rem;
}

.guest-profile-container .guest-profile-side-bar p {
  color: grey;
  font-size: 0.8rem;
}

.guest-profile-container .guest-profile-side-bar-log-out-btn {
  margin-top: 2em;
  padding: 0.7em;
  width: 55%;
  background: transparent;
  border: 2px solid #EB4E7A;
  border-radius: 2rem;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.guest-profile-container .guest-profile-side-bar-log-out-btn:hover {
  background: white;
  color: black;
  border-color: white;
}

.guest-profile-container .guest-profile-main {
  width: 80%;
  background: rgba(14, 2, 70, 0.9);
}

.guest-profile-container .guest-profile-main-top-nav {
  height: 23vh;
  background: #191A19;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #191A19;
}
/*# sourceMappingURL=app.css.map */