@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

$background-grey:#262926;
$background-black:#191A19;
$background-purple:#301739;
$background-profile-nav-bar:#533F84;
$background-profile-main:rgba(14, 2, 70 , 0.9);
$light-gray:#C3C3C3;
$light-pink:#EB4E7A;
$btn-border-gradient:linear-gradient(to right, #E48207 , #6705B8);
$transition: all 0.2s ease-in-out;

.capitalized-text {
    text-transform: capitalize;
}

.no-text-decoration {
    text-decoration: none;
}

.left-chevron, .right-chevron {
    color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
    width: 20vw;
    font-size: 2rem;
}

.left-chevron{
    margin-left: 20px;
}
.right-chevron {
    margin-right: 20px;
}

.black-background-gradient {
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}