@import './latest-slider';
@import './movies-series-btns';
@import './slider-movies-series';

.main-container {
    background:$background-purple;
    font-family: 'Kiwi Maru', serif;
    color: white;
}