@import './config';
@import './nav-bar';
@import './homepagemain';
@import './footer';
@import './details';
@import './login';
@import './guestprofile';
@import './discover';
@import './searchTitle';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background-black;
}